.skin-blue .main-header .navbar .dropdown-menu li a {
  color: #000 !important;
}

.loading {
  position: absolute;
  top: 40%;
  -ms-transform: translateX(0) translateY(-50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.modal-vertical-centered {
  position: relative;
  top: 30%;
  transform: translateY(-30%);
}

.modal-footer-center {
  padding: 15px;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}

p {
  text-align: justify;
}