<template name="listSchools">
    <div class="timeline">
        <ul>
            {{#each school in schools}}
            <li class="column ">


                <div class="title {{#if school.finished}} filled {{/if}}">
                    <a href="/school/show/{{school._id.toHexString}}" class="{{#if school.finished}} opacity {{/if}}">
                        <h1><b>{{dateHour school.startAt}} </b><br> {{school.name}}</h1>
                        <div>
                            {{#if isUserFollowed currentUserId school.followers}}<span class="glyphicon glyphicon-star big-icon" aria-hidden="true"></span>{{/if}}

                        </div>
                    </a>
                </div>
                <div class="description {{#if school.finished}} opacity {{/if}}">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis perferendis magni, quas ea itaque
                        quam vero eveniet officiis, laudantium labore molestias fugit placeat voluptas similique modi impedit
                        sapiente dignissimos quae!</p>
                    <div class="actions">
                        {{#if isUserFollowTheSchool currentUserId school}}
                        <button type="button" class="btn btn-primary pull-left unfollow" data-id="{{school._id.toHexString}}">Ne plus m'avertir</button>
                        {{else}}
                        <button type="button" class="btn btn-primary pull-left follow" data-id="{{school._id.toHexString}}">Avertissez-moi !</button>
                        {{/if}}
                        <a href="/school/show/{{school._id.toHexString}}" class="btn btn-default pull-right">En savoir plus ></a>
                    </div>

                </div>

            </li>
            {{else}}
            <li>Pas encore d'école</li>

            {{/each}}
        </ul>
    </div>
</template>