
$orange: #d76c2c;
$bleu: #106f9f;

$primary-color: $orange;
$secondary-color: $bleu;
$text-light-color: #FFF;
$text-dark-color: #555;

$small-spacing: 10px;
$medium-spacing: 20px;
$large-spacing: 40px;

$medium-size: 18px;