@import 'variables';
// @import 'components/timeline';

body{
    background-color: $primary-color;
    color: $text-light-color;
}
a{
    color: $text-light-color;
}

.timeline {

	width: 80%;
	margin-left: 10%;
	margin-bottom: 40px;
    position: relative;
}
.timeline ul{
    padding-left:0;
    list-style: none;
}

.timeline:before {
	content: "";
	position: absolute;
	    top: -40px;
    left: -11px;
	width: 3px;
	height: 100%;
	background: #c0392b;
}
// .timeline .column {
// 	margin:40px 0 40px 10px;
// }

.timeline .column .title h1 {
	font-size: 2em;
	color: rgba(255,255,255,0.75);
	font-family: serif;
	letter-spacing: 3px;
    position: relative;
}

.timeline .column .title h1:before {
	content: "";
    position: absolute;
    left: -35px;
    top: 6px;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 3px solid #c0392b;
}
.timeline .column .title.filled h1:before {
    background: #c0392b;
}
.timeline .column .glyphicon{
    font-size: 4.8em;
    opacity: .75;
    margin-top: 20px;
}
.timeline .column .title .glyphicon{
    font-size: 1em;
    opacity: .75;
    margin-top: 0;
}
