@import 'variables';
// @import 'components/timeline';
body {
    background-color: #f3d06b;
}

.timeline {
    width: 87%;
    margin-left: 8%;
    margin-bottom: 40px;
    margin-top: 50px;
    position: relative;
}

.timeline ul {
    padding-left: 0;
    list-style: none;
    margin-left: 10px
}

.timeline:before {
    content: "";
    position: absolute;
    top: -50px;
    left: -16px;
    width: 3px;
    height: 100%;
    background: #c0392b;
}

.timeline .opacity {
    opacity: .5;
}

.timeline .column {
    margin: $medium-spacing 0;
    a {
        text-decoration: none;
        color: inherit;
    }
    .title {
        background-color: $orange;
        color: #FFF;
        padding: $small-spacing;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            left: -10px;
            top: 16px;
            width: 0;
            height: 0;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-right: 10px solid $orange;
        }
        & h1 {
            font-size: 1.4em;
            font-weight: normal;
            position: relative;
            margin: 0;
            width: 87%;
            display: inline-block;
        }
        & div {
            display: inline-block;
        }
        &:before {
            content: "";
            position: absolute;
            left: -34px;
            top: 16px;
            width: 20px;
            height: 20px;
            background: #fff;
            border: 3px solid $orange;
        }
        &.filled:before {
            background: $orange;
        }
    }
    .description {
        border: 2px solid $orange;
        padding: $small-spacing;
        color: $text-dark-color;
        text-align: justify;
        background-color: #fff;
        & .actions a {
            color: $orange;
        }
    }
    .description .actions:after {
        clear: both;
        content: " ";
        display: table;
    }
}

.actions .btn-primary {
    color: #FFF;
    background-color: $orange;
    border: none;
    font-size: 1.1em;
}

.actions .btn-default {
    font-size: 1.1em;
}

.btn-fix-size {
    width: 150px;
}

.header {
    background-color: $orange;
    color: #FFF;
    padding: $small-spacing;
    h1 {
        margin: 0;
        font-size: 1.8em;
    }
    a {
        color: inherit;
    }
}

.big-icon {
    font-size: 2em;
}

.mb-small {
    margin-bottom: $small-spacing;
}

.mt-small {
    margin-top: $small-spacing;
}

.top-actions {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: right;
    padding: 5px 10px 0 0;
    a {
        color: white;
    }
}

.glow {
    -webkit-box-shadow: 0px 0px 29px 0px rgba(255, 0, 0, 1);
    -moz-box-shadow: 0px 0px 29px 0px rgba(255, 0, 0, 1);
    box-shadow: 0px 0px 29px 0px rgba(255, 0, 0, 1);
}
.medium-text{
    font-size: $medium-size;
    color: #555;
}